/* 
  Notes (may move to more relavent area later
  
clamp(minimum, preferred, maximum) ->
  Preferred: Usually a relative value (like vw), which scales with viewport size.
  Keeps things from getting too small or large but still scaling with viewports
*/

.home {
  display: flex;
  place-items: center;
  flex-direction: column;
}

.home section {
  display: flex;
  place-items: center;
  flex-direction: column;
  text-align: center;
  margin-block: clamp(3rem, 8vw, 8rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.home section.intro {
  margin-top: 4rem;
}

.home section.closing {
  margin: 0, 0, 0, 0;
  margin-block: 0;
}

/* 
    --- Font Themes ---
*/
.font-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-line-title);
}

.font-subtitle {
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-subtitle);
  color: var(--color-muted);
}

.font-body {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-normal);
  line-height: var(--font-line-body);
}

.font-muted {
  font-size: var(--font-size-muted);
  color: var(--color-muted);
  font-weight: var(--font-weight-normal);
}

.font-card {
  font-size: var(--font-size-card);
  color: var(--color-muted);
  font-weight: var(--font-weight-light);
}

.font-nav {
  font-size: var(--font-size-nav);
  font-weight: var(--font-weight-semibold);
}

.font-button {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-medium);
}

.font-small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
}